.artistpage {
  padding: 1rem;
  color: var(--textColor);
}

.artistpage__header {
  margin: 1rem;
}
.artistpage__headerInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.artistpage__headerInfoText {
  max-width: 850px;
  margin-left: 0.5rem;
  max-height: 30vh;
  overflow: auto;
  scrollbar-color: rgb(59, 59, 59) rgb(0, 0, 0);
  scrollbar-width: thin;
}

.artistpage__image {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
  border-radius: 5px;
  align-self: self-start;
}

.artistpage__songlist {
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-gap: 1rem;
  padding-left: 1rem;
}

@media screen and (max-width: 600px) {
  .artistpage__headerInfo {
    flex-direction: column;
    align-items: flex-start;
  }
  .artistpage__headerInfoText {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .artistpage__songlist {
    padding-left: 0.2rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  }
  .artistpage__header {
    margin-left: 0.1rem;
  }
}
